In [1]:
import numpy as np
from scipy.io import loadmat  # this is the SciPy module that loads mat-files
import matplotlib.pyplot as plt
from datetime import datetime, date, time
import pandas as pd
data = loadmat('DATATESTRAW.mat')

In [50]:
print(len(data))

6

In [51]:
stanceforce = data['StanceForce']  # variable in mat file
stancetibia = data['StanceTibia']
stancelumbar = data['StanceLumbar']

In [52]:
type(data)

dict

In [53]:
type(stanceforce)

numpy.ndarray

In [54]:
len(stanceforce[0][0][0][0][0][0])

5000

In [55]:
print(len(stanceforce[0])) # 11 filtrage
print(len(stanceforce[0][0]))
print(len(stanceforce[0][0][0])) # 10 séance
print(len(stanceforce[0][0][0][0]))
print(len(stanceforce[0][0][0][0][0])) # 10 passage
print(len(stanceforce[0][0][0][0][0][0])) # 5000 lignes de 3 colonnes
print(len(stanceforce[0][0][0][0][0][0][0])) # 1 ligne de 3 colonnes

11
1
10
1
10
5000
3

In [56]:
newArray=stanceforce[0][0][0][0][0][3]
newArray=pd.DataFrame(newArray)
newArray

             0          1          2
0    -1.971187 -16.491413  21.087646
1    -2.234516 -17.602533  22.570839
2    -2.472361 -18.608778  23.969170
3    -2.685497 -19.514342  25.285773
4    -2.874698 -20.323420  26.523783
...        ...        ...        ...
4995  1.141136  10.303446  25.948912
4996  1.178357  10.342381  25.856819
4997  1.213170  10.390547  25.767040
4998  1.245449  10.448094  25.679495
4999  1.275068  10.515174  25.594103

[5000 rows x 3 columns]

concatenation des 10 passage de la premièere séance pour le capteur des lumbars

In [318]:
fil=10
df_Lumbar=pd.DataFrame(columns=['x_lumbar','y_lumbar','z_lumbar'])
for i in range(10):
    for j in range(len(stancelumbar[0][fil][0][0][0])):
        tampon=pd.DataFrame(stancelumbar[0][fil][0][i][0][j],columns=['x_lumbar','y_lumbar','z_lumbar'])
        tampon['nb_seance']=i
        tampon['nb_passage']=j
        df_Lumbar=pd.concat([df_Lumbar,tampon],axis=0)
     #   df_Lumbar=pd.DataFrame(df_Lumbar,columns=['x','y','z'])
    df_Lumbar=df_Lumbar.reindex(columns=['nb_seance','nb_passage','x_lumbar','y_lumbar','z_lumbar'])
    df_Lumbar.reset_index(inplace=True)

#newArray.to_csv('data.csv')
df_Lumbar

        index  nb_seance  nb_passage  x_lumbar  y_lumbar  z_lumbar
0           0        0.0         0.0 -0.473048  0.027055  0.136844
1           1        0.0         0.0 -0.472116  0.026439  0.138892
2           2        0.0         0.0 -0.471199  0.025821  0.140955
3           3        0.0         0.0 -0.470297  0.025195  0.143024
4           4        0.0         0.0 -0.469405  0.024558  0.145097
...       ...        ...         ...       ...       ...       ...
499995   4995        9.0         9.0 -1.317427 -0.043538 -0.015511
499996   4996        9.0         9.0 -1.318809  -0.04298 -0.015105
499997   4997        9.0         9.0 -1.320188 -0.042426 -0.014688
499998   4998        9.0         9.0 -1.321567 -0.041871 -0.014259
499999   4999        9.0         9.0 -1.322948 -0.041311 -0.013823

[500000 rows x 6 columns]

In [319]:
df_Tibia=pd.DataFrame(columns=['x_tibia','y_tibia','z_tibia'])
for i in range(10):
    for j in range(len(stancetibia[0][fil][0][0][0])):
        tampon=pd.DataFrame(stancetibia[0][fil][0][i][0][j],columns=['x_tibia','y_tibia','z_tibia'])
        df_Tibia=pd.concat([df_Tibia,tampon],axis=0)
    df_Tibia=df_Tibia.reindex(columns=['x_tibia','y_tibia','z_tibia'])
    df_Tibia.reset_index(inplace=True,drop=True)

In [320]:
df_Tibia

         x_tibia   y_tibia   z_tibia
0      -0.490409 -0.357347 -0.567686
1      -0.487774 -0.358175 -0.562642
2      -0.485119 -0.359017 -0.557624
3      -0.482449 -0.359871 -0.552635
4      -0.479768 -0.360735  -0.54768
...          ...       ...       ...
499995 -0.780425  0.463885  1.604113
499996 -0.780015  0.461618  1.603329
499997 -0.779577  0.459348   1.60253
499998 -0.779112  0.457075  1.601721
499999 -0.778623  0.454804  1.600901

[500000 rows x 3 columns]

In [321]:
df_Force=pd.DataFrame(columns=['x_force','y_force','z_force'])
for i in range(10):
    for j in range(len(stanceforce[0][fil][0][0][0])):
        tampon=pd.DataFrame(stanceforce[0][fil][0][i][0][j],columns=['x_force','y_force','z_force'])
        df_Force=pd.concat([df_Force,tampon],axis=0)
    df_Force=df_Force.reindex(columns=['x_force','y_force','z_force'])
    df_Force.reset_index(inplace=True,drop=True)

In [322]:
df_Force

         x_force   y_force    z_force
0       1.057183 -8.941128  31.378262
1       1.183851 -8.263459  32.026108
2       1.308062 -7.649749  32.628689
3       1.429992 -7.098335  33.187741
4       1.549815 -6.607554  33.704999
...          ...       ...        ...
499995  1.760153  9.349373  29.099964
499996  1.784167  9.327843  28.656276
499997  1.807832  9.308552  28.183878
499998  1.831152  9.291537  27.681607
499999   1.85413  9.276836  27.148298

[500000 rows x 3 columns]

In [323]:
df=pd.concat([df_Lumbar,df_Tibia,df_Force],axis=1)

In [324]:
df

,index,nb_seance,nb_passage,x_lumbar,y_lumbar,z_lumbar,x_tibia,y_tibia,z_tibia,x_force,y_force,z_force
0,0,0.0,0.0,-0.473048,0.027055,0.136844,-0.490409,-0.357347,-0.567686,1.057183,-8.941128,31.378262
1,1,0.0,0.0,-0.472116,0.026439,0.138892,-0.487774,-0.358175,-0.562642,1.183851,-8.263459,32.026108
2,2,0.0,0.0,-0.471199,0.025821,0.140955,-0.485119,-0.359017,-0.557624,1.308062,-7.649749,32.628689
3,3,0.0,0.0,-0.470297,0.025195,0.143024,-0.482449,-0.359871,-0.552635,1.429992,-7.098335,33.187741
4,4,0.0,0.0,-0.469405,0.024558,0.145097,-0.479768,-0.360735,-0.54768,1.549815,-6.607554,33.704999
...,...,...,...,...,...,...,...,...,...,...,...,...
499995,4995,9.0,9.0,-1.317427,-0.043538,-0.015511,-0.780425,0.463885,1.604113,1.760153,9.349373,29.099964
499996,4996,9.0,9.0,-1.318809,-0.04298,-0.015105,-0.780015,0.461618,1.603329,1.784167,9.327843,28.656276
499997,4997,9.0,9.0,-1.320188,-0.042426,-0.014688,-0.779577,0.459348,1.60253,1.807832,9.308552,28.183878
499998,4998,9.0,9.0,-1.321567,-0.041871,-0.014259,-0.779112,0.457075,1.601721,1.831152,9.291537,27.681607
499999,4999,9.0,9.0,-1.322948,-0.041311,-0.013823,-0.778623,0.454804,1.600901,1.85413,9.276836,27.148298

In [325]:
df.to_csv(f'data_filtrage_{fil+1}.csv',index=False)